:root {
  --w-e-textarea-bg-color: transparent;
}

.w-e-text-container * {
  font-size: inherit;
}

.w-e-text-container [data-slate-editor] h1,
.w-e-text-container [data-slate-editor] h2,
.w-e-text-container [data-slate-editor] h3,
.w-e-text-container [data-slate-editor] h4,
.w-e-text-container [data-slate-editor] h5 {
  margin: 0;
}

.w-e-text-container [data-slate-editor] p {
  margin: 0;
}
