.logo-icon-warp {
  display: flex;
  justify-content: center;
  background: #fff;
  margin: 0 0.3rem;
  padding: 0.1rem 0 0.5rem;
  .logo-wrapper {
    text-align: center;
    font-size: 0;
    padding: 0.1rem 0 0.5rem;
  }
  .question-logo {
    max-width: 300px;
    text-align: center;
    cursor: pointer;
  }
  .logo-placeholder-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .logo-placeholder {
      width: 200px;
      height: 50px;
      font-size: 40px;
      color: #d8d8d8;
      letter-spacing: 0;
      line-height: 36px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px dashed #d8d8d8;
    }

    .no-logo-tip {
      font-size: 13px;
      line-height: 13px;
      opacity: 0.5;
      margin-top: 13px;
      color: #92949d;
    }
  }
}
