
@font-face {
  font-family: 'iconfont';  /* Project id 4263849 */
  src: url('//at.alicdn.com/t/c/font_4263849_tg31n0imr7.woff2?t=1737635806358') format('woff2'),
       url('//at.alicdn.com/t/c/font_4263849_tg31n0imr7.woff?t=1737635806358') format('woff'),
       url('//at.alicdn.com/t/c/font_4263849_tg31n0imr7.ttf?t=1737635806358') format('truetype');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fuzhi:before {
  content: '\e6c4';
}

.icon-lishi:before {
  content: '\e6cd';
}

.icon-baocun:before {
  content: '\e6ce';
}

.icon-fanhui:before {
  content: '\e6cf';
}

.icon-bianji:before {
  content: '\e6d0';
}

.icon-shujutongji:before {
  content: '\e6d1';
}

.icon-toufang:before {
  content: '\e6d2';
}

.icon-wenjuanbianji:before {
  content: '\e6ca';
}

.icon-jieguoyeshezhi:before {
  content: '\e6cb';
}

.icon-wenjuanshezhi:before {
  content: '\eacc';
}

.icon-jiantou:before {
  content: '\e6c7';
}

.icon-shangyi:before {
  content: '\e6c8';
}

.icon-xiayi:before {
  content: '\e6c9';
}

.icon-tuodong:before {
  content: '\e6c5';
}

.icon-shanchu:before {
  content: '\e6c6';
}

.icon-tixing-toupiao:before {
  content: '\e6bc';
}

.icon-tixing-duoxuan:before {
  content: '\e6c1';
}

.icon-tixing-panduanti:before {
  content: '\e6c2';
}

.icon-tixing-danxuan:before {
  content: '\e6c3';
}

.icon-tixing-pingfen:before {
  content: '\e6be';
}

.icon-tixing-chengshixuanze:before {
  content: '\e6bf';
}

.icon-tixing-duohangshuru:before {
  content: '\e6b4';
}

.icon-tixing-danhangshuru:before {
  content: '\e6b5';
}

.icon-tixing-tiankongti:before {
  content: '\e6b7';
}

.icon-tixing-tupian:before {
  content: '\e6bb';
}

.icon-chuangjian:before {
  content: '\e6b3';
}

.icon-jinru:before {
  content: '\e6b2';
}

.icon-erweima:before {
  content: '\e6c0';
}

.icon-yangshishezhi:before {
  content: '\e6e6';
}

.icon-NPSpingfen::before {
  content: '\e6e7';
}

.icon-wodekongjian::before {
  content: '\e6ee';
}

.icon-tuanduikongjian::before {
  content: '\e6ec';
}

.icon-huishouzhan::before {
  content: '\e6ed';
}

.icon-shujuliebiao:before {
  content: '\e6f2';
}

.icon-fentitongji:before {
  content: '\e6f3';
}

.icon-bar:before {
  content: '\e600';
}

.icon-pie:before {
  content: '\e606';
}

.icon-gauge:before {
  content: '\e6db';
}

.icon-gengduo:before {
  content: '\e6f7';
}

.icon-suoxiao:before {
  content: '\e6f4';
}

.icon-fangda:before {
  content: '\e6f5';
}

.icon-shiying:before {
  content: '\e6f6';
}
.icon-cascader-select:before {
  content: '\e6f9';
}

.icon-icon_SDK:before {
  content: '\e722';
}
.icon-icon_shanchu::before{
  content: '\e723';
}

.icon-icon_guanbi:before {
  content: '\e724';
}

.icon-icon_qianrushi:before {
  content: '\e725';
}

.icon-a-icon_SDK2:before {
  content: '\e726';
}
.icon-icon_zhongmingming:before {
  content: '\e727';
}
.icon-icon_xiaochengxu::before{
  content: '\e729';
}
.icon-icon_qiyong:before{
  content: '\e728';
}
.icon-icon_qianrushiwenjuan:before{
  content: '\e72a';
}