$primary-color: #ffa600;
$primary-color-hover: #fbb733;
$primary-color-deep: #D48D00;
$primary-color-light: #fffcf0;

$normal-color: #4a4c5b;
$normal-color-hover: #626369;
$normal-color-deep: #292a36;
$normal-color-light: #92959c;


$disable-color: #f2f4f7;
$border-color: #e3e4e8;
$sub-color: #0f8a82;

$font-color: #6E707C;
$font-color-title: $normal-color;
$font-color-stress: #2B3035;
$font-color-invert: #FFFFFF;

$background-color: #f6f7f9;
$background-color-light: #ffffff;
$background-color-gray: #F7F9Fb;
$background-color-dark: #E7E9EB;

$title-color-deep: #292a36;
$title-color: #4a4c5b;
$remark-color: #4a4c5b;
$placeholder-color: #c8c9cd;
$light-focus-color: #666666;

$spliter-color: #f7f7f7;

$error-color: #ec4e29;
