// 定义颜色变量
$opacity: 1;

$primary-color: #ffa600;
$primary-color-hover: #fbb733;
$primary-color-deep: #d48d00;
$primary-color-light: #fffcf0;

$normal-color: #4a4c5b;
$normal-color-hover: #626369;
$normal-color-deep: #292a36;
$normal-color-light: #92959c;

$disable-color: #f2f4f7;
$border-color: #e3e4e8;
$sub-color: #0f8a82;

$font-color: #6e707c;
$font-color-title: $normal-color;
$font-color-stress: #2b3035;
$font-color-invert: #ffffff;

$background-color: #f6f7f9;
$background-color-light: #ffffff;
$background-color-gray: #f7f9fb;
$background-color-dark: #e7e9eb;
$primary-bg-color: #fef6e6;
$primary-background-color: #fff;

$title-color-deep: #292a36;
$title-color: #4a4c5b;
$remark-color: #4a4c5b;
$placeholder-color: #c8c9cd;
$light-focus-color: #666666;

$spliter-color: hsl(0, 0%, 97%, 0.5);

$error-color: #ec4e29;

$primary-color-light: hsl(48, 100%, 97%);

$title-size: 0.32rem;
$font-size: 0.28rem;
$tip-size: 0.22rem;

// 使用CSS自定义属性
:root {
  --primary-color: #{$primary-color};
  --primary-background-color: #{$primary-background-color};
  --opacity: #{$opacity};
}

.el-radio__input.is-checked + .el-radio__label {
  color: $font-color !important;
}

.el-switch.is-checked .el-switch__core {
  border-color: $primary-color !important;
  background-color: $primary-color !important;
}

.el-checkbox__input.is-checked .el-checkbox__inner,
.question-edit-wrapper .el-checkbox__input.is-indeterminate .el-checkbox__inner {
  background-color: $primary-color !important;
  border-color: $primary-color !important;
}

.el-checkbox__input.is-focus .el-checkbox__inner {
  border-color: $primary-color !important;
}

.el-checkbox__input.is-checked + .el-checkbox__label {
  color: $font-color !important;
}
