$primary-color: var(--primary-color);
$primary-color-light: hsl(48, 100%, 97%);

$title-color-deep: #292a36;
$title-color: #4a4c5b;
$font-color: #6e707c;
$remark-color: #4a4c5b;
$placeholder-color: #c8c9cd;
$light-focus-color: #666666;

$disable-color: #f2f4f7;
$border-color: #dee2e6;

$spliter-color: hsl(0, 0%, 97%, 0.5);

$error-color: #ec4e29;

$title-size: 0.32rem;
$font-size: 0.28rem;
$tip-size: 0.22rem;
