@font-face {
  font-family: "qicon";
  /* Project id 4263885 */
  src: url('//at.alicdn.com/t/c/font_4263885_u91txz1d68.woff2?t=1697079806138') format('woff2'),
    url('//at.alicdn.com/t/c/font_4263885_u91txz1d68.woff?t=1697079806138') format('woff'),
    url('//at.alicdn.com/t/c/font_4263885_u91txz1d68.ttf?t=1697079806138') format('truetype');
}

.qicon {
  font-family: "qicon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.qicon-tishi:before {
  content: "\e6cc";
}

.qicon-fuzhi:before {
  content: "\e6c4";
}

.qicon-tuodong:before {
  content: "\e6c7";
}

.qicon-gouxuan:before {
  content: "\a6c8";
}

.qicon-aixin:before {
  content: "\e6cd";
}

.qicon-xingxing:before {
  content: "\a6ca";
}