@import './default.scss';
.star-wrapper-main {
    // .isShowInput{
    //   padding-bottom: 0 !important ;
    // }
      .explain {
          line-height: 0.48rem;
          font-size: 0.24rem;
          color: #92949D;
          padding: 0 0.4rem;
      }
      .radio-star {
          &.isPc {
              margin-bottom: 0.2rem;
          }
      }
      .matrix-radio-star {
          &.isPc {
              margin-bottom: -0.2rem;
          }
      }
      .star-box {
          display: flex;
          justify-content: space-between;
          margin-bottom: 0.2rem;
      }
      .star-item {
          display: inline-block;
          font-size: .42rem;
          flex: 1;
          text-align: center;
          cursor: pointer;
          &.qicon {
            color: #E3E4E8;
              &.on {
                  color: $primary-color;
              }
              &.off {
                  color: #E3E4E8;
              }
          }
          &.number {
              color: #fff;
              height: 0.62rem;
              font-size: 0.28rem;
              line-height: 0.62rem;
              &.on {
                  background-color: $primary-color;
              }
              &.off {
                  background-color: #E3E4E8;
              }
              &:not(:last-child) {
                  margin-right: .08rem;
              }
          }

      }
      .print {
          width: 96%;
          margin-left: -3%;
          display: flex;
          div {
              flex: 1;
              display: inline-block;
              div {
                  display: inline-block;
                  color: #333;
                  font-size: 0.27rem;
                  height: .32rem;
                  line-height: .32rem;
                  vertical-align: middle;
              }
              .box {
                  display: inline-block;
                  width: .32rem;
                  height: .32rem;
                  border: 1px solid #ddd;
              }
          }
      }
      
      .hidden {
          display: none;
          visibility: hidden;
      }
  }