@import './default.scss';
.textarea-wrapper {
  font-size: 0;
  .input-box {
    resize: vertical;
    padding: 0.4rem;
    border-radius: 0.08rem;
    background-color: #fff;
    border: 1px solid #ddd;
    -webkit-appearance: none;
    vertical-align: top;

    width: 200%;
    font-size: 0.54rem;
    height: 1.61rem;
    transform: scale(0.5, 0.5);
    transform-origin: 0 0;
    box-sizing: border-box;
    margin-bottom: -0.81rem;
    overflow: hidden;
    resize: none;
    transition: height 0.2s ease-out;
    -webkit-transition: height 0.2s ease-out;
    color: $font-color;
    &:focus,
    &.is-focused {
      border: 1px solid $primary-color;
      height: 3.5rem;
      margin-bottom: -1.75rem;
      overflow-y: scroll;
    }
    &:hover {
      border: 1px solid $primary-color;
    }
    &::-webkit-input-placeholder {
      /* WebKit browsers */
      font-size: 0.56rem;
      font-weight: 300;
      color: $placeholder-color;
    }
    &:-moz-placeholder {
      /* Mozilla Firefox 4 to 18 */
      font-size: 0.56rem;
      font-weight: 300;
      color: $placeholder-color;
    }
    &::-moz-placeholder {
      /* Mozilla Firefox 19+ */
      font-size: 0.56rem;
      font-weight: 300;
      color: $placeholder-color;
    }
    &:-ms-input-placeholder {
      /* Internet Explorer 10+ */
      font-size: 0.56rem;
      font-weight: 300;
      color: $placeholder-color;
    }
  }

  .print-line-wrapper {
    width: 96%;
    margin: 0 2%;
    .print-line {
      height: 0.75rem;
      border-bottom: 1px solid #ddd;
    }
  }

  .text-number-tip {
    font-size: 0.24rem;
    color: $font-color;
    float: right;
    margin-top: 0.1rem;
  }

  .answer-tip {
    width: 98%;
    height: auto;
    font-size: 0.25rem;
    color: #666;
    margin-top: 0.2rem;
    padding: 5px;
    border: 1px dashed $border-color;
  }
}
