@import './default.scss';
.question-form-item.isSelected{ 
  background-color: #f2f4f7;
  -webkit-box-shadow: 0 0 5px #e3e4e8;
  box-shadow: 0 0 5px #e3e4e8;
}
.module-title {
  position: relative;
  height: auto;
  line-height: 0.45rem;
  font-size: $title-size;
  padding: 0 0.4rem 0.4rem;
  color: #000000;
  font-weight: normal;
  &-required {
    color: $error-color;
    position: absolute;
    left: 0.16rem;
    top: 0rem;
    font-size: 0.2rem;
    // transform: scale(0.5);
    transform-origin: left top;
  }
  .score-text {
    color: #999;
    margin-left: 0.2rem;
    font-size: 0.24rem;
  }
  &-title {
    zoom: 1;
    display: flex;
    font-size: $title-size;
    img {
      max-width: 100%;
    }
    .index {
      float: left;
      padding-right: 0.06rem;
      font-size: $title-size;
    }
    &-text{
      font-size: $title-size;
      p, span{
        font-size: inherit;
      }
    }
    em {
      font-style: italic;
    }
    u {
      text-decoration: underline;
    }
    .richeditor {
      position: relative;
      cursor: pointer;
      width: 100%;
      margin: -10px 0;
      flex: 1;
      font-size: .32rem;
      background-color: #fff;
    }
  }

  .m-tag {
    border: 1px solid $primary-color;
    font-size: 0.18rem;
    height: 0.4rem;
    line-height: 0.4rem;
    display: inline-block;
    color: $primary-color;
    padding: 0 0.16rem;
    margin-left: 0.16rem;
    border-radius: 0 0.06rem 0 0.06rem;
  }
}
