@import './default.scss';
// .vote-wrapper {
//     .radio-wrapper.vote .radio-box .radio-item {
//         padding-left: .35rem;
//         &:hover {
//             background-color: transparent;
//         }
//     }
    .vote-detail{
        padding-top: 0.12rem;
        align-items:center;
        display: flex;
        .process-outer{
            flex: 1;
        }
        .vote-percent{
            width: 0.86rem;
            font-size: 0.24rem;
            color: $font-color;
            margin-left: 0.24rem;
        }
        .vote-count{
            width: 0.8rem;
            margin-left: 0.1rem;
            text-align: right;
            font-size: 0.24rem;
            color: $font-color;
        }
    }
// }
