@import '../../common/css/default.scss';

.rate-wrapper-main {
  .rate-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.2rem;
  }
  .rate-item {
    display: inline-block;
    font-size: 0.42rem;
    flex: 1;
    text-align: center;
    cursor: pointer;

    &.number {
      color: #fff;
      height: 0.62rem;
      font-size: 0.28rem;
      line-height: 0.62rem;
      &.on {
        background-color: $primary-color;
      }
      &.off {
        background-color: #e3e4e8;
      }
      &:not(:last-child) {
        margin-right: 0.08rem;
      }
    }
  }
}
