.submit-warp{
  &.question-submit_wrapper{
    margin: 0 0.4rem;
    font-size: 0;
    position: relative;
  }
  &.preview-submit_wrapper{
    padding: 25px;
    text-align: center;
  }
  .submit-btn {
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 0.25rem 0;
    font-size: 0.36rem;
    line-height: 0.5rem;
    font-weight: 500;
    text-align: center;
    color: #fff;
    background: var(--primary-color);
    border-radius: 0.08rem;
    margin: 0.4rem 0;
    cursor: pointer;
  }
}