@charset "UTF-8";

* {
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  height: 100%;
  font-family: "-apple-system", BlinkMacSystemFont, Droid Sans, Droid Sans Fallback, Helvetica Neue, Helvetica, Arial;
}

html {
  height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-size: 50px;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
}

input {
  background-color: #fff;
}

button, button:active, button:focus {
  border: none;
}

::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #ccc;
  font-weight: normal;
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #ccc;
  font-weight: normal;
}

:-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #ccc;
  font-weight: normal;
}

:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #ccc;
  font-weight: normal;
  font-family: inherit;
}

textarea::-webkit-input-placeholder {
  /* WebKit browsers */
  font-family: normal !important;
}


body {
  font-family: Pingfang SC, 'Helvetica Neue', Helvetica, STHeiTi, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0;
}

input,
select,
textarea {
  font-size: 100%;
}

input {
  -webkit-appearance: none;
}

input:-ms-clear {
  display: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img {
  border: 0;
}

abbr,
acronym {
  border: 0;
  font-variant: normal;
}

del {
  text-decoration: line-through;
}

address,
caption,
cite,
code,
dfn,
em,
th,
var {
  font-style: normal;
  font-weight: 500;
}

ol,
ul {
  list-style: none;
}

caption,
th {
  text-align: left;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

ins,
a {
  text-decoration: none;
}

.hidden {
  display: none;
}

* {
  text-decoration: none;
  box-sizing: border-box;
}

a:hover * {
  text-decoration: none;
}