$primary-color: #FA881A;
$primary-color-light: #FEF3E8;

$title-color-deep: #292A36;
$title-color: #4A4C5B;
$font-color: #6E707C;

$placeholder-color: #C8C9CD;

$disable-color: #F2F4F7;
$border-color: #DEE2E6;

$spliter-color: #f7f7f7;

$error-color: #EC4E29;
